<app-login-base class="lg:[&_.box]:h-96">
  <h1 class="text-xl font-bold">Did you forget the password?</h1>

  <div class="mt-4 mb-8 px-4 text-center">
    <p>Enter the email adress in the field below.</p>
    <p>We will send a link to change your password to your e-mail.</p>
  </div>

  <div class="flex flex-col w-full px-10 sm:px-40 lg:px-10 xl:px-20">
    <mat-form-field appearance="fill">
      <mat-label>Login/e-mail</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <button
    class="mt-24 mb-8 rounded-lg lg:mt-4"
    mat-flat-button
    color="primary"
  >
    Reset your password
  </button>
</app-login-base>
