$blue-palette: (
  50: #1071ff,
  100: #0064fb,
  200: #005de8,
  300: #0055d4,
  400: #004dc1,
  500: #0046ae,
  600: #0046af,
  700: #0045af,
  contrast: (
    700: white,
  )
);

$light-pallete: (
  50: #f6f8fb,
  100: #dce4ef,
  200: #c4d1e4,
  300: #abbed9,
  400: #93abce,
  500: #7b98c3,
  600: #7b98c2,
  700: #7b98c3,
  contrast: (
    700: white,
  )
);
